<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Учет продаж сервисов</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>
	<header>
		<div class="main">
		<h2 class="logo" style="color:midnightblue">Учет продаж сервисов </h2>
		</div>
	</header>
	<div class="sidenav">
			<a href="/">
				 <img th:src="@{/images/logo.png}" width="60" height="60"/>
				 </a>
				 <a href="client">Клиенты</a>
				 <br>
				 <a href="services">Сервисы</a>
				 <br>
				 <a href="payment">Учёт продаж</a>
				 </div>

		<div class="log">
		<div class="form">
		<div th:switch="${username}"> 
			<div th:case="anonymousUser">
				<form th:action="@{/login}" class="add-form">
					<h3 style="text-align: center;">Авторизация</h3>
	        		<input type="submit" value="Войти" class="pressed-button" style="display: block; margin: 0 auto;">
	   	 		</form>
			</div>
		  	<div th:case="*">
		  		<form th:action="@{/logout}" method="post" th:object="${user}" class="add-form">
					  <br>
		  			<label class="titleModel">Имя пользователя: [[${user.username}]] </label><br>
	        		<label class="titleModel">Email: [[${user.email}]]</label><br>
	        		<br>
	        		<input type="submit" value="Выйти" class="sumbit">
	   	 		</form>
		  	</div> 
		</div>
	</div>
	</div>
	</main>
</head>
</body>
</html>