<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Учет продаж сервисов</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
</head>
	<header>
		<div class="main">
		<h2 class="logo" style="color:midnightblue">Учет продаж сервисов</h2>
		</div>
		</header>
		<div class="sidenav">
			<a href="/">
				 <img th:src="@{/images/logo.png}" width="60" height="60"/>
				 </a>
				 <a href="client">Клиенты</a>
				 <br>
				 <a href="services">Сервисы</a>
				 <br>
				 <a href="payment">Учёт продаж</a>
				 </div>
		<div class="main">
		<table>
	        <tr>
	            <th>№</th>
                <th>Сервис</th>
                <th>Клиент</th>
                <th>Количество проданных сервисов</th>
                <th>Цена</th> 
	            <th>
					<a href="/payment/add">Добавить</a>
				</th>
	        </tr>	     
	        <tr th:each="payment : ${payment}">
	            <td th:text="${payment.id}" class="center-align">
				<td th:text="${payment.client.getName()}">
				<td th:text="${payment.services.getNameServices()}">
	            <td th:text="${payment.paymentQuantity}"></td>
                <td th:text="${payment.paymentAmount}"></td>
				</td>
				<td style="width: 10px;" class="center-align">
				<form method="POST" th:action="@{/payment}" th:value="${payment}" class="edit-form">
						<a th:href="@{/payment/edit(id=${payment.id})}">
							<img th:src="@{/images/edit.png}" class="img">
						</a>
						<input name="id" type="hidden" th:value="${payment.id}">
						<button type="submit" class="sumbit">
							<img th:src="@{/images/delete.png}" class="img">
						</button>
					</form>
				</td>

	        </tr>
	        </table>
	    </div>
	</main>
</body>
</html>