<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Учет продаж сервисов</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
	<header>
		<a href="/">
		    <img th:src="@{/images/logo.png}" width="60" height="60"/>
		</a>
		<h2 class="logo" style="color:midnightblue">Сервисы </h2>
		 <div class="menu">
        <ul>
			<li><a href="client">Клиенты</a></li>
			<li><a href="services">Сервисы</a></li>
			<li><a href="payment">Продажи сервисов</a></li>
		</ul>
		</div>
	</header>
	<main>
		<table>
	        <tr>
            <th>№</th>
           <th>Название</th>
           <th><a href="/services/add" >Добавить</a></th>
	        </tr>
	       <tr th:each="services : ${services}">
        <td th:text="${services.id}"></td>
        <td th:text="${services.nameServices}"></td>
				<td style="width: 10px;" class="center-align">
				<form method="POST" th:action="@{/services}" th:value="${services}" class="edit-form">
						<a th:href="@{/services/edit(id=${services.id})}">
							<img th:src="@{/images/edit.png}" class="img">
						</a>
						<input name="id" type="hidden" th:value="${services.id}">
						<button type="submit" class="transparent-button">
							<img th:src="@{/images/delete.png}" class="img">
						</button>
					</form>
				</td>
	        </tr>
	    </table>
	</main>
</body>
</html>